<header>
  <div class="header-sec">
    <img src="../../../assets/images/logo.svg" alt="">
    <nav class="nav-items">
      <ul class="nav-item-list">
        <li class="nav-item">Features</li>
        <li class="nav-item">Pricing</li>
        <li class="nav-item">Resources</li>
      </ul>
    </nav>
  </div>
  <div class="header-sec header-sec-btn">
    <app-button text="Login" radius="10"></app-button>
    <app-styled-button color="#42bff5" text="Sign Up" radius="15px" margin="0px 0px 0px 25px"   padding="8px 10px 8px 10px"></app-styled-button>
  </div>
  <app-toggle-mobile-nav (btnClick)="toggleShowNav()"></app-toggle-mobile-nav>
</header>
