.shorten-link-sec {
  position: relative;
  top: -50px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  height: 15vh;
  width: 130vh;
  align-self: center;
  margin: auto;
  background-image: url("../../../assets/images/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: rgb(28, 16, 40);
}

.link-input {
  width: 80vh;
  height: 6vh;
  padding: 5px;
  margin: 30px;
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width: 600px)
{
  .shorten-link-sec {

    justify-content: center;
    text-align: center;
    border-radius: 10px;
    height: 15vh;
    width: 50vh;
    align-self: center;
    margin: auto;
    background-image: url("../../../assets/images/bg-shorten-desktop.svg");
    background-size: cover;
    background-color: rgb(28, 16, 40);
  }
}