<div class="shorten-link-sec">
  <p [ngClass]="link !== '' ? 'none' : 'visible'">Please add a link</p>
  <form (ngSubmit)="onSubmit()" class=" link-sec">
    <input id="link" name="link" [ngClass]="link !== '' ? 'no-border' : 'border-red'"   [(ngModel)]="link" class="link-input" type="text"  placeholder="shorten a link here">
  <app-styled-button type="submit" color=" hsl(180, 66%, 49%)" visibility="visible" padding="10px 100px" radius="5px" text="Shorten it!" margin="auto"></app-styled-button>
  </form>
</div>

