.btn {
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: none;
}

.btn:hover {
  background-color: rgb(144, 4, 123);
}

@media only screen and (max-width: 600px),
only screen and (max-width: 940px) {
  .btn {
    visibility: hidden;
  }
}