section {

  background-color: rgb(230, 228, 228);
  margin: 0;
}

.statistics {
  margin-top: auto;
  text-align: center;
}

.statistics .large-txt {
  font-size: 30px;
  font-weight: bold;
  color: rgb(39, 37, 41);
  margin-bottom: 10px;
}

.statistics .small-txt {
  font-size: small;
  font-weight: bold;
  color: rgb(68, 61, 66);
  margin-bottom: 200px;
}

.card-line {
  margin: auto;
  width: 120vh;
  height: 1vh;
  text-align: center;
  background-color: hsl(180, 66%, 49%);
}

@media only screen and (max-width: 375px),
only screen and (max-width: 940px) {
  .statistics {
    margin-top: auto;
    text-align: center;

  }

  .statistics .large-txt {
    font-size: 25px;
    font-weight: bold;
    color: rgb(39, 37, 41);
    margin-bottom: 10px;
  }

  .statistics .small-txt {
    margin: auto;
    font-size: small;
    font-weight: bold;
    color: rgb(68, 61, 66);
    margin-bottom: 300px;
  }

  .card-line {
    visibility: collapse;
    margin: auto;
    width: 0;
    height: 0;
  }
}
