<div class="jumbotron-section">
  <div class="section hidden">
    <img class="hidden" *ngIf="!showAddTask" src="../../../assets/images/illustrationWorking.svg" alt="image here">
  </div>
  <div class="section section-one">
    <h1 class="large-txt">More than just shorter links</h1>
    <h1 class="large-txt"></h1>
    <p class="small-txt">Build your brand recognition and get detailed insights on how your links are performing</p>
    <p class="small-txt"></p>
    <app-styled-button class="btn" visibility="visible" color=" hsl(180, 66%, 49%)" text="Get Started" padding="10px 40px 10px 40px" radius="20px"></app-styled-button>
  </div>
  <div class="section section-two">
    <img class="show" src="../../../assets/images/illustrationWorking.svg" alt="image here">
  </div>

</div>
