<footer>
  <div class="footer-item">
    <h1>Shortly</h1>
  </div>
  <div class="footer-item">
    <ul class=" features" >
      <li class="features-item title">Features</li>
      <li class="features-item ">Link Shortening</li>
      <li class="features-item ">Branded Links</li>
      <li class="features-item ">Analytics</li>
    </ul>
  </div>
  <div class="footer-item">
    <ul class=" features" >
      <li class="features-item title">Resources</li>
      <li class="features-item ">Blog</li>
      <li class="features-item ">Developers</li>
      <li class="features-item ">Support</li>
    </ul>
  </div>
  <div class="footer-item">
    <ul class=" features" >
      <li class="features-item title">Company</li>
      <li class="features-item ">About</li>
      <li class="features-item ">Our Team</li>
      <li class="features-item ">Careers</li>
      <li class="features-item ">Contact</li>
    </ul>
  </div>
  <div class="footer-item">
    <ul class="icons" >
      <li class="icon-item"><img src="../../../assets/images/icon-facebook.svg" alt="fb-icon"></li>
      <li class="icon-item"><img src="../../../assets/images/icon-twitter.svg" alt="twitter"></li>
      <li class="icon-item"><img src="../../../assets/images/icon-pinterest.svg" alt=""></li>
      <li class="icon-item"><img src="../../../assets/images/icon-instagram.svg" alt=""></li>
    </ul>
  </div>
</footer>
