.link-sec {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  width: 64%;
  height: 6vh;
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.shortLink {
  justify-content: space-between;
  display: flex;
}

.shortLink a {
  margin-right: 15px;
}

@media only screen and (max-width: 375px),
only screen and (max-width: 940px) {
  .link-sec {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    height: 19vh;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: x-small;
  }

  a {
    text-decoration: none;
    color: black;

  }

  .shortLink {
    justify-content: space-between;
    display: block;
    margin-top: 25px;
    border-top: 1px solid rgb(202, 200, 200);

  }

  .shortLink a {
    margin-right: 0;
    color: hsl(180, 66%, 49%);
    padding: 10px;
    margin-top: 15px;
  }
}
